body {
	margin: 0;
	background-color: #fff;
	color: black;
	font-family: "Share Tech Mono", monospace;
}
header {
	width: 100vw;
	height: 10vh;
	background-color: lightgray;
	display: flex;
	justify-content: space-around;
	align-items: center;
	filter: opacity(0.5);
}
a {
	color: black;
}
a:hover {
	color: gray;
}
i {
	font-size: 5vh;
}
h1 {
	font-size: 3rem;
	background-color: lightgray;
	border-radius: 10px;
	padding: 2vh;
}
figure {
	float: right;
}
img {
	width: 30vw;
	height: auto;
	border-radius: 10px;
}
.backgroundImg {
	z-index: -10;
	position: absolute;
	width: 100vw;
	max-height: 100vh;
	filter:brightness(0.4);
}
#headerSection {
	display: flex;
	justify-content: center;
	text-align: center;
}