body {
	margin: 0;
	background-color: black;
	color: green;
	font-family: "Share Tech Mono", monospace;
}
header {
	width: 100vw;
	height: 10vh;
	background-color: #262626;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
a {
	color: #12db00;
}
i {
	font-size: 5vh;
}
figure {
	float: right;
}
