body {
	margin: 0;
	max-width: 95vw;
	background-color: #9AA17F;
	color: black;
	font-family: "Modern Antiqua", serif;
	overflow: hidden;
}
header {
	width: 100vw;
	height: 10vh;
	border: solid 2px black;
	background-color: #9AA17F;

	position: absolute;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
a {
	color: black;
}
a:hover {
	color: #BEB28C;
}
.altA:hover {
	color: #9AA17F;
}
i {
	font-size: 5vh;
}
p{
	overflow: auto;
}
.pageContainer {
	padding-top: 10vh;
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: row;
	text-align: center;
}
#pageContainerMarginized {
	margin-left: 5vw;
	margin-right: 5vw;
}
section {
	width: 50vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border: 1px black solid;
}
#leftSection {
	float: left;
	background-color: #9AA17F;
	justify-content: flex-start;
	align-items: center;
}
h1 {
	font-size: 5vh;
	background-color: #BEB28C;
	height:6vh;
	border-radius: 10px;
	padding: 2vh;
}
h2 {
	font-size: 4vh;
	background-color: #BEB28C;
	border-radius: 10px;
	padding: 2vh;
}
h3 {
	font-size: 3vh;
	background-color: #BEB28C;
	border-radius: 10px;
	padding: 2vh;
	font-weight: normal;
}
p {
	margin: 1.5vh;
	font-size: 2vh;
	background-color: #BEB28C;
	border-radius: 10px;
	padding: 1vh;
	max-width: 35vw;
	overflow: hidden;
}
#rightSection {
	float: right;
	height: 90vh;
	width: auto;
	border-right-style: hidden;
}
#mainImg {
	max-height: 80vh;
	border-radius: 15px;
	margin: 2.5vh;
	border: 2px black solid;
}
.rightSectionImage {
	height: 80vh;
	border-radius: 15px;
	margin: 2.5vh;
	border: 2px black solid;

}
.dotsButton {
	position: absolute;
	border-radius: 100px;
	border-color: #e6dbb9;
	background-color: #d3c8a3;

	height: 5em;
	width: 5em;	
}

#centerSection {
	width: 90vw;
	height: 90vh;
	border: none;
	justify-content: flex-start;
}

table, th, td {
	border: double 5px black;
	border-collapse: collapse;
}
th {
	font-size: 3vh;
}
td {
	font-size: 2.5vh;
}

iframe {
	width: 20vw;
	height: 20vh;
	border-radius: 15px;
}











/*Dots Position*/

#germanyButton {
	transform: translate(-20vw, -55vh);
}
#russiaButton {
	transform: translate(5vw, -50vh);
}
#italyButton {
	transform: translate(-25vw, -25vh);
}
#austriahungaryButton {
	transform: translate(-16vw, -33vh);
}
#balticsButton {
	transform: translate(-3vw, -60vh);
}